
#Листинг 3.33: Страница Home с удаленной HTML-структурой. ЗЕЛЕНЫЙ app/views/static_pages/home.html.erb

<% provide(:title, "Home") %>
<h1>warm-gorge-85433.herokuapp.com/ </h1>
    <p>~/ch04_console<p>
</p>

